:root {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
}

/* temp style */
.header-pic {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
}
.footer-pic {
    width: 45rem;
    height: auto;
    
}

header {
    border: 2px solid pink;
    padding: 4rem 10rem;
    /*background-color: rgb(107, 219, 182);*/

    position: relative;
}

/* prepravka header-a */
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a8c8;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
    z-index: 0;
}

.header-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 2rem;
}

div>.card {
    background-color: beige;
    border: 1px solid black;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    border-radius: 0 1rem 1rem 0;
}
img.logo {
    width: 2.5rem;
    margin: 3rem 1rem 0 1rem;
    
}
.card>p {
    font-size: 1.5rem;
}
.logos {
    margin-left: auto;
}

/* project card container area! */

.projects-h1 {
    text-align: center;
    padding: 2rem;
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}
.project-ss {
    max-width: 40vw; /* this needs fixing ! */
    max-height: auto;
}
div.card {
    background-color: #cde1e6;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

section>div>img.logo {
    margin: 0 0.5rem;
}


footer {
    background-color: #00a8c8;
    display: flex;
    padding: 3rem;
}
.phone>img, .email>img {
    width: 2rem;
}
.phone, .email {
    display: flex;
    align-items: center;
    gap: 1rem;
}