:root {
    font-size: 24px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

}
header, footer {
    width: 100%;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 1.5rem 0;
}
/* temp style */
.header-pic {
    width: 23rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgb(214, 209, 209);
}
.footer-pic {
    width: 32rem;
    height: auto;
    
}/*
header, footer {
    width: 100%;
}*/
header {
    /*padding: 4rem 10rem;*/
    /*background-color: rgb(107, 219, 182);*/
    position: relative;


}

/* box shadow */

/* prepravka header-a */
.header-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a8c8;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
    z-index: 0;
    box-shadow: 2px 56px 10px red;
}

.header-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    max-width: 70%;/* helped */
    margin: 0 auto;
    padding: 1.5rem 0;
}

.header-card {
    background-color: whitesmoke;
    box-shadow: 2px 5px 41px rgb(214, 209, 209);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    
}

div>.card {
    background-color: #cde1e6; 

    border: 1px solid black;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    box-shadow: 5px 5px 5px rgb(214, 209, 209);
}


/* project card container area! */

.projects-h1 {
    padding: 2rem 0;
}
.project-container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr)); /*repeat(auto-fit, minmax(300px, 1fr));*/
    gap: 1rem;

    
    
}
.project-ss {
     /* this needs fixing ! */
    padding-bottom: 2rem;
}

.card-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    align-items: top;
}
img.logo {
    width: 1.75rem;
    margin: 0 10px;
    
}
.card>p {
    font-size: 1rem;
}
.logos {
    display: flex; 
    height: 1.75rem;
}


footer {
    background-color: #00a8c8;
    display: flex;

    width: 100%;
    padding: 2rem 15%;
    margin-top: 5rem;
}
.phone>img, .email>img {
    width: 2rem;
}
.phone, .email {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.flogo {
    width: 2.5rem;
    margin-right: auto;
}


footer>section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

/* media queries */

@media (max-width: 320px) {

    body {
        align-items: center;
    }
    header {
        width: 100%;
    }
    .header-bg {
        z-index: 0;
    }
    .header-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 0;
        z-index: inherit;
    }
    .header-pic {
        width: 280px;
        margin: 0;
        padding: 0;
    }
    .header-content>.card {
        width: fit-content;
        background-color: aquamarine;
        margin: 0;
    }
    .card {
        max-height: fit-content;
        width: 280px;
        margin-right: auto;
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

    }
    .footer-pic {
        width: 280px;
        height: auto;
        margin-top: 1rem;
        margin-left: 0;
        padding: 0;
    }
}
